.search-form {
  display: flex;
  justify-content: center;
  background-color: rgb(76, 76, 100);
  height: 40px;
  margin-bottom: 10px;
}
.gallery {
  display: grid;
  max-width: 1240px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
.photo-card {
  width: 300px;
  height: auto;
}
.info {
  text-align: center;
  display: flex;
  justify-content: center;
}
.small-images {
  width: 300px;
  height: 200px;
}
.load-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  border: 5px;
  border-radius: 10px;
  border-color: rgb(77, 77, 145);
  color: rgb(214, 214, 214);
  background-color: rgb(76, 76, 100);
  cursor: pointer;
  box-shadow: 1px 0px 3px 3px rgba(76, 76, 100, 0.54);
  transition: color 300ms cubic-bezier(0.32, 0.84, 0.83, 0.46),
    background-color 300ms cubic-bezier(0.32, 0.84, 0.83, 0.46),
    border-color 300ms cubic-bezier(0.32, 0.84, 0.83, 0.46);
}
.load-more:hover,
.load-more:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(97, 97, 158);
  border-color: rgb(163, 163, 163);
}
.greeting-title {
  scale: 0.9;
  transition: scale 300ms cubic-bezier(0.32, 0.84, 0.83, 0.46);
}
.greeting-title-shown {
  scale: 1;
}
